@inject IRecipeRepository repo
@rendermode InteractiveServer
@if (recipes != null)
{

    <div class="row">
        @foreach (var recipe in recipes)
        {
            <div class="col-md-3 mb-3">
                <Recipe_Card 
                    RecipeId="@recipe.RecipeId" 
                    ImageUrl="@recipe.FilePath" 
                    RecipeTitle="@recipe.Name"
                    RecipeDescription="@recipe.Description" 
                    PrepTime="@recipe.PrepTime" 
                    DeleteRequested="DeleteRecipe" 
                />
            </div>
        }
    </div>
}

@code {
    private List<Recipe>? recipes;

    protected override void OnParametersSet()
    {
        recipes = repo.GetAllRecipes();

        base.OnParametersSet();
    }

    private async Task DeleteRecipe(int recipeId)
    {
        await repo.DeleteRecipe(recipeId);
        recipes = repo.GetAllRecipes();
        StateHasChanged();
    }

}