<div class="card w-100 h-100">
    <div class="card-img-top overflow-hidden">
        <Recipe_Card_Image ImageUrl="@ImageUrl" />
    </div>

    <div class="card-body">
        <Recipe_Card_Header RecipeTitle="@RecipeTitle" />
        <Recipe_Card_Description Description="@RecipeDescription" />
    </div>

    <div class="card-footer">
        <Recipe_Card_Footer PrepTime="@PrepTime" RecipeId="@RecipeId" />
    </div>
</div>


@code {
    [Parameter]
    public string? ImageUrl { get; set; }

    [Parameter]
    public string RecipeTitle { get; set; } = string.Empty;

    [Parameter]
    public string RecipeDescription { get; set; } = string.Empty;

    [Parameter]
    public string PrepTime { get; set; } = string.Empty;
    [Parameter]
    public int RecipeId { get; set; }
}