@page "/recipes-new"
@page "/recipes-edit/{RecipeId:int}"
@rendermode InteractiveServer
@inject NavigationManager manager
@inject IRecipeRepository recipeRepo
@inject ICategoryRepository categoryRepo
@inject IWebHostEnvironment WebHostEnv

@if (recipe != null)
{
    <EditForm Model="recipe" enctype="multipart/form-data" FormName="EditRecipe" OnValidSubmit="Submit">
        <DataAnnotationsValidator />

        <div class="row">
            <div class="col-md-6">
                <RecipeForm_Name @bind-Value="recipe.Name" />
                <ValidationMessage For="@(() => recipe.Name)" />
            </div>
            <div class="col-md-6">
                <RecipeForm_Description @bind-Value="recipe.Description" />
                <ValidationMessage For="@(() => recipe.Description)" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <RecipeForm_Category Categories="@categories" @bind-Value="recipe.CategoryId" />
            </div>
            <div class="col-md-6">
                <RecipeForm_Instructions @bind-Value="recipe.Instructions" />
                <ValidationMessage For="@(() => recipe.Instructions)" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="d-flex gap-3">
                    <div>
                        <RecipeForm_PrepTime @bind-Value="recipe.PrepTime" />
                        <ValidationMessage For="@(() => recipe.PrepTime)" />
                    </div>
                    <RecipeForm_Servings @bind-Value="recipe.Servings" />
                </div>
            </div>
            <div class="col-md-6">
                <RecipeForm_Ingredients @bind-Value="recipe.Ingredients" />
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <RecipeForm_Image />
            </div>
        </div>

        <div class="d-flex justify-content-start gap-3 mt-4">
            <a type="button" href="/recipes" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save Recipe</button>
        </div>
    </EditForm>
}
else if (newRecipe != null)
{
    <EditForm Model="newRecipe" FormName="AddRecipe">
        <DataAnnotationsValidator />

        <div class="row">
            <div class="col-md-6">
                <RecipeForm_Name @bind-Value="newRecipe.Name" />
                <ValidationMessage For="@(() => newRecipe.Name)" />
            </div>
            <div class="col-md-6">
                <RecipeForm_Description @bind-Value="newRecipe.Description" />
                <ValidationMessage For="@(() => newRecipe.Description)" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <RecipeForm_Category Categories="@categories" @bind-Value="newRecipe.CategoryId" />
            </div>
            <div class="col-md-6">
                <RecipeForm_Instructions @bind-Value="newRecipe.Instructions" />
                <ValidationMessage For="@(() => newRecipe.Instructions)" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="d-flex gap-3">
                    <div>
                        <RecipeForm_PrepTime @bind-Value="newRecipe.PrepTime" />
                        <ValidationMessage For="@(() => newRecipe.PrepTime)" />
                    </div>
                    <RecipeForm_Servings @bind-Value="newRecipe.Servings" />
                </div>
            </div>
            <div class="col-md-6">
                <RecipeForm_Ingredients @bind-Value="newRecipe.Ingredients" />
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <RecipeForm_Image />
            </div>
        </div>


        <div class="d-flex justify-content-start gap-3 mt-4">
            <a type="button" href="/recipes" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Add Recipe</button>
        </div>
    </EditForm>
}
else
{
    <p>Loading...</p>
}


@code {
    private Recipe? recipe { get; set; }
    private Recipe? newRecipe { get; set; } = new Recipe();

    [Parameter]
    public int? RecipeId { get; set; }

    private List<Category>? categories;

    protected override void OnParametersSet()
    {
        recipe ??= recipeRepo.GetRecipeById(RecipeId ?? 0);
        categories = categoryRepo.GetAllCategories();
    }

    //ImageUpload
    private IBrowserFile? file;

    private void HandleFile(IBrowserFile selectedFile)
    {
        file = selectedFile;
    }

    private async Task Submit()
    {
        if (file != null)
        {
            var folderPath = Path.Combine(WebHostEnv.WebRootPath, "uploads");
            Directory.CreateDirectory(folderPath);

            var filePath = Path.Combine(folderPath, file.Name);
            using var stream = file.OpenReadStream(maxAllowedSize: 10_000_000);
            using var fs = new FileStream(filePath, FileMode.Create);
            await stream.CopyToAsync(fs);
        }
        if (recipe != null)
        {
            recipeRepo.UpdateRecipe(recipe);
        }
        else if (newRecipe != null)
        {
            recipeRepo.AddRecipe(newRecipe);
        }
        manager.NavigateTo("/recipes");
    }

}