@page "/recipes-new"
@page "/recipes-edit/{RecipeId:int}"
@rendermode InteractiveServer
@inject NavigationManager manager
@inject IRecipeRepository recipeRepo
@inject ICategoryRepository categoryRepo
@inject IWebHostEnvironment WebHostEnv

@if (recipe != null)
{
    <EditForm Model="recipe" enctype="multipart/form-data" FormName="EditRecipe" OnValidSubmit="Submit">
        <DataAnnotationsValidator />

        <div class="row">
            <div class="col-md-6">
                <RecipeForm_Name @bind-Value="recipe.Name" />
                <ValidationMessage For="@(() => recipe.Name)" />
            </div>
            <div class="col-md-6">
                <RecipeForm_Description @bind-Value="recipe.Description" />
                <ValidationMessage For="@(() => recipe.Description)" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <RecipeForm_Category Categories="@categories" @bind-Value="recipe.CategoryId" />
            </div>
            <div class="col-md-6">
                <RecipeForm_Instructions @bind-Value="recipe.Instructions" />
                <ValidationMessage For="@(() => recipe.Instructions)" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="d-flex gap-3">
                    <div>
                        <RecipeForm_PrepTime @bind-Value="recipe.PrepTime" />
                        <ValidationMessage For="@(() => recipe.PrepTime)" />
                    </div>
                    <RecipeForm_Servings @bind-Value="recipe.Servings" />
                </div>
            </div>
            <div class="col-md-6">
                <RecipeForm_Ingredients @bind-Value="recipe.Ingredients" />
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <RecipeForm_Image OnFileSelected="HandleFileSelected" />
            </div>

        </div>

        <div class="d-flex justify-content-start gap-3 mt-4">
            <a type="button" href="/recipes" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save Recipe</button>
        </div>
    </EditForm>
}
else if (newRecipe != null)
{
    <EditForm Model="newRecipe" enctype="multipart/form-data" FormName="AddRecipe" OnValidSubmit="Submit">
        <DataAnnotationsValidator />

        <div class="row">
            <div class="col-md-6">
                <RecipeForm_Name @bind-Value="newRecipe.Name" />
                <ValidationMessage For="@(() => newRecipe.Name)" />
            </div>
            <div class="col-md-6">
                <RecipeForm_Description @bind-Value="newRecipe.Description" />
                <ValidationMessage For="@(() => newRecipe.Description)" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <RecipeForm_Category Categories="@categories" @bind-Value="newRecipe.CategoryId" />
            </div>
            <div class="col-md-6">
                <RecipeForm_Instructions @bind-Value="newRecipe.Instructions" />
                <ValidationMessage For="@(() => newRecipe.Instructions)" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="d-flex gap-3">
                    <div>
                        <RecipeForm_PrepTime @bind-Value="newRecipe.PrepTime" />
                        <ValidationMessage For="@(() => newRecipe.PrepTime)" />
                    </div>
                    <RecipeForm_Servings @bind-Value="newRecipe.Servings" />
                </div>
            </div>
            <div class="col-md-6">
                <RecipeForm_Ingredients @bind-Value="newRecipe.Ingredients" />
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <RecipeForm_Image OnFileSelected="HandleFileSelected" />
            </div>
        </div>


        <div class="d-flex justify-content-start gap-3 mt-4">
            <a type="button" href="/recipes" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Add Recipe</button>
        </div>
    </EditForm>
}
else
{
    <p>Loading...</p>
}

@code {
    private Recipe? recipe { get; set; }
    private Recipe? newRecipe { get; set; } = new Recipe();

    [Parameter]
    public int? RecipeId { get; set; }

    private List<Category>? categories;

    private IBrowserFile? selectedFile = null;

    private void HandleFileSelected(IBrowserFile file) => selectedFile = file;

    protected override void OnParametersSet()
    {
        recipe ??= recipeRepo.GetRecipeById(RecipeId ?? 0);
        categories = categoryRepo.GetAllCategories();
    }


    private async Task Submit()
    {
        if (selectedFile != null)
        {
            var folderPath = Path.Combine(WebHostEnv.WebRootPath, "images");
            Directory.CreateDirectory(folderPath);
            var fileName = $"{Guid.NewGuid()}{Path.GetExtension(selectedFile.Name)}";
            var filePath = Path.Combine(folderPath, fileName);
            await using var stream = new FileStream(filePath, FileMode.Create);
            await selectedFile.OpenReadStream(maxAllowedSize: 1024 * 1024 * 10).CopyToAsync(stream);
            if (recipe != null)
            {
                if (!string.IsNullOrEmpty(recipe.FilePath))
                {
                    var oldPath = Path.Combine(WebHostEnv.WebRootPath, recipe.FilePath.TrimStart('/'));
                    if (File.Exists(oldPath))
                    {
                        File.Delete(oldPath);
                    }
                }
                recipe.FilePath = $"/images/{fileName}";
            }
            else if (newRecipe != null)
            {
                newRecipe.FilePath = $"/images/{fileName}";
            }
        }
        else if (newRecipe != null)
        {
            newRecipe.FilePath = string.Empty;
        }
        if (recipe != null)
        {

            recipeRepo.UpdateRecipe(recipe);
        }
        else if (newRecipe != null)
        {
            recipeRepo.AddRecipe(newRecipe);
        }
        manager.NavigateTo("/recipes");
    }
}